@model Democracy.Models.VotingVoteView

@{
    ViewBag.Title = "Vote";
}

<h2>Vote</h2>
<div class="row">
    <div class="col-md-5">
        <div>
            <h4>Voting</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.State.Description)
                </dt>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    <h2>@Html.DisplayFor(model => model.Description)</h2>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Remarks)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Remarks)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateTimeStart)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateTimeStart)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateTimeEnd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateTimeEnd)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsForAllUsers)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsForAllUsers)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsEnabledBlankVote)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsEnabledBlankVote)
                </dd>

            </dl>

            @Html.ActionLink("Back to my votings", "MyVotings", new { }, new { @class = "btn btn-success" })
        </div>

    </div>

    <div class="col-md-7">

        <h4>Candidates</h4>

        @if (Model.Candidates.ToList().Count > 0)
            {
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => Model.Candidates.ToList()[0].User.FullName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => Model.Candidates.ToList()[0].User.Photo)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Candidates.ToList())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.FullName)
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.User.Photo))
                            {
                                <img src="@Url.Content(item.User.Photo)" alt="Image" style="width:200px;height:200px;max-width:100%; height:auto" />
                            }
                        </td>
                        <td>

                            @Html.ActionLink("Vote", "VoteForCandidate", new { candidateId = item.CandidateId, votingId = Model.VotingId }, new { @class = "btn btn-primary", onclick = "return confirm('Are you sure to vote for this candidate?');" })
                        </td>
                    </tr>
                }

            </table>
        }
        else
        {
            <h5>No candidates added yet</h5>
        }


    </div>
</div>

